.now-playing-widget {
    min-width: 180px;
    width: 30%;
    .wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.3, 0, 0, 1);
        transition: -webkit-transform 0.25s cubic-bezier(0.3, 0, 0, 1);
        transition: transform 0.25s cubic-bezier(0.3, 0, 0, 1);
        transition: transform 0.25s cubic-bezier(0.3, 0, 0, 1),
            -webkit-transform 0.25s cubic-bezier(0.3, 0, 0, 1);
        .image-container {
            width: 64px;
            height: 64px;
        }
        .track-content {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            .track-title {
                font-size: 0.875rem;
                line-height: 1rem;
                text-transform: none;
                letter-spacing: normal;
                .track-link {
                    color: var(--text-color);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .track-artist {
                font-size: 0.6875rem;
                line-height: 1rem;
                text-transform: none;
                letter-spacing: normal;
                .artist-link {
                    color: var(--text-subdued);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
