.playback {
    position: relative;
    grid-area: playback;
    height: var(--default-layout-playback-height);
    background-color: var(--background-playback);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex: 1 1;
        height: 90px;
        padding: 0 16px;
        .now-playing-widget {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .now-playing-widget-container {
                display: flex;
                flex: 1;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
        }
        .playback-controller {
        }
        .sound-controller {
        }
    }
}
