.side-bar {
    position: relative;
    grid-area: sidebar;
    width: calc(var(--default-layout-sidebar-width) + 9px);
    height: calc(100vh - var(--default-layout-playback-height));
    min-height: 0;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-top: 24px;
        width: 100%;
        height: 100%;
        .brand-logo {
            display: flex;
            align-items: center;
            padding: 0 24px;
            margin-bottom: 18px;
            .icon {
                color: var(--white);
                font-size: 38px;
            }
            .brand-title {
                color: var(--white);
                font-size: 28px;
                font-weight: 700;
                margin-left: 8px;
            }
        }
        .menu {
            .menu-nav {
                .menu-item {
                    padding: 0 8px;
                    .menu-link {
                        color: #b3b3b3;
                        -webkit-transition-duration: 0.2s;
                        transition-duration: 0.2s;
                        -webkit-transition-property: color;
                        transition-property: color;
                        -webkit-transition-timing-function: linear;
                        transition-timing-function: linear;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        border-radius: 4px;
                        cursor: pointer;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        gap: 16px;
                        height: 40px;
                        padding: 0 16px;
                        &:hover {
                            color: var(--white);
                        }
                        span {
                            font-size: 0.875rem;
                            box-sizing: border-box;
                            font-family: var(--font-family);
                            -webkit-tap-highlight-color: transparent;
                            font-size: 0.8125rem;
                            line-height: 1rem;
                            font-weight: 700;
                            color: inherit;
                        }
                    }
                }
            }
        }
        .feature {
            display: flex;
            flex-direction: column;
            padding-top: 22px;
            .wrapper {
                display: flex;
                flex-direction: column;
                padding: 0 8px;
                .feature-link {
                    color: #b3b3b3;
                    -webkit-transition-duration: 0.2s;
                    transition-duration: 0.2s;
                    -webkit-transition-property: color;
                    transition-property: color;
                    -webkit-transition-timing-function: linear;
                    transition-timing-function: linear;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    border-radius: 4px;
                    cursor: pointer;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    flex-basis: 1;
                    gap: 16px;
                    height: 40px;
                    padding: 0 16px;
                    &:hover {
                        color: var(--white);
                    }
                    span {
                        font-size: 0.875rem;
                        box-sizing: border-box;
                        font-family: var(--font-family);
                        -webkit-tap-highlight-color: transparent;
                        font-size: 0.8125rem;
                        line-height: 1rem;
                        font-weight: 700;
                        color: inherit;
                    }
                }
            }
        }
        .playlist {
            position: relative;
            width: 100%;
            height: 100%;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 0.5px;
                background-color: var(--secondary);
                margin: 0 24px;
                opacity: 0.5;
            }
            .wrapper {
                padding: 8px 0;
                width: 100%;
                height: 100%;
                padding: 0 8px;
                white-space: nowrap;
                overflow-y: scroll;
                text-overflow: ellipsis;
                .playlist-item {
                    padding: 8px 16px;
                    color: var(--secondary);
                    font-size: 0.875rem;
                    line-height: 1.23rem;
                    font-weight: 300;
                    &:hover {
                        color: var(--white);
                    }
                }
            }
        }
        .install {
            height: 38px;
            padding: 0 8px;
            display: flex;
            align-items: center;
            &-link {
                width: 100%;
                display: flex;
                align-items: center;
                color: #b3b3b3;
                -webkit-transition-duration: .2s;
                transition-duration: .2s;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
                padding: 0 16px;
                .icon {
                    margin-right: 12px;
                }
                span {
                    font-size: 0.875rem;
                    line-height: 1rem;
                    text-transform: none;
                    letter-spacing: normal;
                }
            }
        }
    }
}
